<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
	<div class="item item-1" fxFlex="25%">
	  	<app-field-type></app-field-type>

        <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>  
	</div>
	<div class="item item-2" fxFlex="75%">
    
  </div>
  <!-- <div class="item item-3" fxFlex>Item 3</div> -->
</div>